
  @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  
}

.container-dash{
  width: 100%;
  height: 95%;
  background-image: url(../images/img_fundo_receita_escuro.jpg);
}
.container-grafico {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
 
} 

.grafico1 {
  width: 50%;
  height: 60%;
  margin-right: 30px;
}

.grafico2 {
  width: 50%;
  height: 50%;
} 
.container-card{
  width: 100%;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-kpi {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content:space-around;
}
.cards-kpi .card{
  height: 110px;
  width: 250px;
  background-color: #FFAF1D;
  box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.6);
  border: 0.5px solid #9A5323;
  border-radius: 10px;
}
.card{
  text-align: center;
}
.card span{
  font-family: 'Secular One', sans-serif;
  font-size: 23px;
  color: white;
  text-shadow: 0 5px 5px rgb(0, 0, 0, 0.6);
}

.card div {
  color: #9A5323;
  font-weight: bold;
  font-style: italic;
  font-family: 'Secular One', sans-serif; 
  text-shadow: 0 5px 5px rgb(255, 255, 255, 0.6);
  font-size: 27px;
}
.card:hover{
  width: 255px;
  height: 115px;
}
