*{
    margin: 0;
    padding: 0;   
    
}

.cabeçalho {
    height: 16vh;
    width: 100vw;
    background-color: transparent;  
    top: 0;
    position: absolute;
}
.navbar{
    align-items: center;
    width: 100vw;
    height: 16vh;
    
}
.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    width: 100vw;
}
.navlist {
    width: 100vw;
}
.navlist li, a {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffff;
    list-style: none;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Roboto'
    }
.botao_menu {
    font-size: 24px;
}

.menu_oculto {
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFAF1D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.menu_oculto a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.botao_menu {
    color: #ffff;
    font-size:30px; 
    cursor: pointer;
    padding: 10px;
}
.menu_oculto a:hover {
    font-size: 24px;
}
.botao_fechar {
    color: #ffff;
    position: absolute;
    margin-top: -30px;
    right: 25px;
    margin-left: 50px;
}
.container{
    display: flex;
    align-items: center;
    height: 95vh;
    width: 100vw;
    background-image: url(/images/img_fundo_index\(cortada\)\ ofuscada\ 2.jpg);
    background-size: cover;
    
}
.box {
    margin-top: 90px;
    margin-left: 40px;
    width: 28vw;
    height: 400px;
}
.box h2 {
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    
}
.conteudo_txt{
    margin-top: 30px;
    height: 225px;
    width: 29vw;
    color: #ffff;
    font-size: 25px;
} 

  