*{
    margin: 0;
    padding: 0;   
    font-family: 'Roboto'
}

body {
    overflow-x: hidden;
}

.cabeçalho {
    height: 16vh;
    width: 100vw;
    background-color: #2F1608;  
    top: 0;
    
}
.navbar{
    align-items: center;
    width: 100vw;
    height: 16vh;
    
}
.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    width: 100vw;
}
.navlist {
    width: 100vw;
}
.navlist li, a {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffff;
    list-style: none;
    text-decoration: none;
    font-size: 19px;
    }
.botao_menu {
    font-size: 24px;
}

.menu_oculto {
    height: 91.8vh;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F1608;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.menu_oculto a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.botao_menu {
    color: #ffff;
    font-size:30px; 
    cursor: pointer;
    padding: 10px;
}
.menu_oculto a:hover {
    font-size: 24px;
}
.botao_fechar {
    color: #ffff;
    position: absolute;
    margin-top: -30px;
    right: 25px;
    margin-left: 50px;
}

.section-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 30px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-banner .container .img-banner{
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}
.section-banner .container .img-banner h1{
    margin-bottom: 20px;
}
.section-banner .container .form_login{
    height: fit-content;
    margin: 50px;
    display: flex;
    align-items: center;
}

.section-banner .container .form_login .form{
    width:fit-content;
    display: flex;
    flex-direction: column;
}

.input-text{
    height: 40px;
    width: 380px;
    border: 1px solid #2F1608;
    border-radius: 5px;
    padding: 0 10px;
}

.login-options a{
    text-decoration: none;
    color: #2F1608;
}


.remember-login{
    display: flex;
}

.login-options p{
    font-size: 12px;
}

.section-banner .container .form_login .login-options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons-form{
    margin: 15px;
    text-align: center;
    
}

.buttons-form p{
    margin-top: 10px;
    font-size: 12px;
    color: #2F1608;
}

.buttons-form .button{
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: #2F1608 1px solid;
}

.buttons-form .button-login{
    background-color: #2F1608;
    color: #FFFFFF;
    margin-top: 20px;
}
.button-login:hover {
    background-color: #FFFFFF; /* Green */
    color: #2F1608;
    cursor: pointer;
  }

  .buttons-form .button-cadastrar{
    background-color: #FFFFFF;
    color: #2F1608;
}
.button-cadastrar:hover {
    background-color: #2F1608; /* Green */
    color: #FFFFFF;
    cursor: pointer;
  }

  .buttons-form .button-register{
    margin-top: 20px;
    background-color: #2F1608;
    color: #FFFFFF;
}
.button-register:hover {
    background-color: #FFFFFF; /* Green */
    color: #2F1608;
    cursor: pointer;
  }